*{
    text-decoration: none;
    margin:0;
    padding:0;
}

html,body{
    width: 100%;
    height: 100%;
}

section{
    display: flex;
    justify-content: center;
}

table > thead > tr >th{
    border: 1px solid black;
    border-collapse: collapse;

}
table{
    width:70%;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }